
*{
    font-family: 'Architects Daughter', cursive;
    font-size: 20px;


}
img{
    width: 200px;
    height: 100px;
    
}
div{
    
    font-size: 30px;
    font-weight: 50;
}
ul li{
      
    /* margin: 0;
    /* padding: 0; */
    /* width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  */
    padding: 20px;
    border: crimson solid 2px;
    background-color: rgb(248, 232, 235);
   
    

}
div{
    background-color: rgb(139, 86, 139);
    text-align: center;
}
ul{
    background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  display: flex;
}
footer{
    height: 100px;
    margin-top: 50px;
    width: 100%;
    font-size: large;
    align-items: center;
    display: flex;
    justify-content: center;
    
  }
  
  section {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  button{
      background-color: rgb(102, 177, 173);
      color: cornsilk;
  }
  h2{
      color: rgb(10, 41, 56);
      text-align: center;
      font-weight: 600;
  }
  header label{
      text-align: center;
      
  }
  select{
      display: inline-block;
      
  }
  

